$colors: (
    bg:  #c8c8ff,
    dark: #000203
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

body {
    background: color(bg);
    height: 100%;
    width: 100%;
}

/* The main container of the app */
#container {    
    display: block;
    margin: auto;
    margin-top: 5%;    
}

/* It contains all the color settings and pencils */
#container__color-info {
    position: absolute;    
    z-index: -2;
    height: 80%;               
    width: 80%;     
    left: 7%;
    background: color(dark);  
    border: 1px outset black;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(0 ,0 ,0 ,0.9);
}

#container__window-box {
    position: absolute;    
    height: 80%; 
    width: 75%;      
    top: 0;             
    left: 15%;
    margin-top: 5%;
    border: 1px outset black;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(0 ,0 ,0 ,0.9);
    background: color(dark);      
}

#sheet {
    height: 96%;    
    width: 96%;    
    margin-top: 1%;  
    margin-left: 2%;    
    border: 1px solid var(--border);    
    background: white;    
    cursor: pointer;
}